/* hero (top gradient content) */
.hero-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
}

.tripia {
  transform: translate(2rem, -2rem);
}

.hero-image {
  width: 500px;
}

@media (max-width: 900px) {
  .hero-content-wrapper {
    text-align: center;
    padding: 0 4rem;
  }

  .tripia {
    transform: translate(0, -1rem);
  }
  
  .hero-image {
    display: none;
  }
}



/*content section (hills image) */
.hills-image {
  height: 50vh;
  min-height: 500px;
  width: 100%;
  transform: scale(1.5) translateY(-5%);
}