.modal-dialog-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: opacity 0.2s linear;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  background-color: rgba(0, 0, 0, 0.25);
}

.shown {
  opacity: 1;
  pointer-events: all;
}

.modal-dialog {
  width: 95%;
  max-width: 750px;
  max-height: 95%;
  min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, #f0f0f0 50%, white);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  font-size: 1.25rem;
  text-align: center;
  overflow-y: auto;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #F48957;
  cursor: pointer;
}